body{
    background-color: #000000;
    color: #F6F6F6;
}

strong{
    color: #22D4FD;
}

/*
NOMBRE DE LAS CLASES:
https://www.aluracursos.com/blog/nombre-de-clases-en-css
MAQUETA DEL PROYECTO FIGMA
https://www.figma.com/design/D464FfN417KSWJHIUVpMnX/Portafolio---Curso?node-id=0-1&p=f&t=r7mLAzTZ6VqL7o51-0
EJEMPLOS DE CSS 
https://www.aluracursos.com/blog/reset-css-que-es-ejemplos-como-crear-y-utilizar
*/